[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crochet"]
	path = crochet
	url = https://github.com/agrueneberg/crochet
	shallow = true
	registered = true
